<%-include('includes/header')%>
<body>
    <h1><%=resultado.title%></h1>
    <h2>Characters:</h2>
    <hr>
    <%for (let i = 0; i<personagens.length; i++) {%>
        <h3><a href='personagem/<%=personagens[i].url.split('/')[5]%>'><%=personagens[i].name%></a></h3>
        <hr>    
    <%}%>
</body>
</html>